a {
  text-decoration: none;
}

body {
  font-family: "Montserrat", sans-serif;
}

ul,
ol {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 0;
}

/*!===========================================================*/

.container {
  max-width: 375px;
  padding: 0 20px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1200px;
  }
}

.container-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

@media screen and (min-width: 768px) {
  .container-head {
    margin-top: 24px;
    margin-bottom: 24px;
  }
}

@media screen and (min-width: 768px) {
  .navigation {
    display: flex;
    /* gap: 47px; */
  }
}

@media screen and (min-width: 1158px) {
  .navigation-list {
    display: flex;
    margin-left: auto;
  }
}

.navigation-logo {
}

.navigation-logo-link {
  display: flex;
  align-items: center;
  color: #111;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.29;
  letter-spacing: -0.03em;
}

@media screen and (min-width: 1158px) {
  .navigation-logo-link {
    font-size: 18px;
    line-height: 1.11;
    letter-spacing: -0.03em;
  }
}

.navigation-logo-link span {
  font-style: italic;
  margin-right: 4px;
}

.icon-logo {
  width: 21px;
  height: 21px;
  margin-left: 4px;
}

@media screen and (min-width: 1158px) {
  .icon-logo {
    width: 24px;
    height: 24px;
  }
}

.icon {
}

.navigation-list {
  display: none;
}

@media screen and (min-width: 768px) {
  .navigation-list {
    display: flex;
    gap: 20px;
  }
}
.navigation-item {
}
.navigation-link {
  color: #111;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.02em;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}
.icon-menu {
  stroke: #111;
}

.socials {
  display: none;
}

@media screen and (min-width: 768px) {
  .socials {
    display: inline;
    margin-left: 28px;
  }
}

@media screen and (min-width: 1158px) {
  .socials {
    margin-left: 90px;
  }
}

@media screen and (min-width: 768px) {
  .socials-list {
    display: flex;
    gap: 14px;
  }
}

.socials-item {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  cursor: pointer;
}

.navigation-socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #111;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.02em;
}
.icon-facebook {
}
.icon {
}
.icon-instagram {
}
.icon-twitter {
}
